.container {
    display: grid;

    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;

    padding: 0.3rem;

    margin: 1rem;

    .section_right {
        display: flex;
        flex-direction: column;
        
        .section_class_right {
            display: flex;
            justify-content: space-between;

            width: 30rem;

            padding: 2rem;

            .title {
                font-family: 'Segoe UI', sans-serif;
                font-weight: 600;
                color: #424242;
            }
            
            .refresh_right {
                border: 1px solid rgb(85, 85, 255);
                border-radius: 0.3rem;
                height: 2rem;
                width: 2rem;

                padding: 0.3rem;
                
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;

            padding: 1.2rem;

            background: var(--white);
            box-shadow: 10px 3px 20px rgba(58, 58, 1, 0.1);

            margin-left: 2rem;

            width: 25.9rem;
            height: 30rem;

            border-radius: 0.2rem;

            .title {
                h4 {
                    font-family: 'Segoe UI', sans-serif;
                    font-weight: 600;
                    color: #424242;
                    font-size: 1.1rem;
                }
            }
        }
        @media(max-width: 968px){
            display: flex;
            justify-content: center;

            .section_right {
                display: flex;
                justify-content: center;
            }

            .section_class_right {
                display: flex;
                margin: 0 auto;

                width: 20rem;

                padding: 1rem 1rem 1rem;
            }

            .content {
                width: 18rem;

                margin: 0 auto;
            }
        }
    }

    @media(max-width: 968px){
        display: flex;
        justify-content: center;
        flex-direction: column;

        height: 100%;
    }
}